@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.textField {
  margin-bottom: 30px;
}

